.about {
    height: auto;
    background-color: var(--secondary-color);
    color: white;
}

.flex-container {
    width: 75vw;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
