* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
}

:root {
    --primary-color: #26408B;
    --secondary-color: #A6CFD5;
    --tertiary-color: #C2E7D9;
    --quatenary-color: #0d0221;
}

body {
    background-color: #fff;
}

a {
    text-decoration: none;
    color: var(--quatenary-color);
}

button {
    width: 100px;
    height: 100px;
    background-color: var(--primary-color);
    border: none;
}

h1 {
    font-size: 6rem;
}

h2  {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

.container {
    margin: 3em;
}