.name {
    height: 90vh;
    max-height: 90vh;
    margin-top: 5em !important;
}

.name h3 {
    margin-left: 0.5em;
}


.about {
    height: 100vh;
    background-color: var(--secondary-color);
}

.nav-fixed {
    position: fixed;
}